body {
    color: #2B2B2B;
    font-family: 'Rajdhani','Microsoft JhengHei', sans-serif;
}

label{
    min-width: 120px;
}

h1{
    padding: 30px 10px 0 10px;
    color: #2B2B2B;
}

h3{
    width: 100%;
}
h5{
    margin-top: 10px;
}

.header{
    padding-bottom: 30px;
}

.credit{
    margin-left: 10px;
}

.name_language,.option{
    font-size: 13px;
    margin: 0 5px;
}

.part{
    background: #fff;
    border-radius: 2px;
    margin: 2rem 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
}

.part h4{
    padding: 15px;
    background-color: #8BC34A;
    color: #ffffff;
}

.part .inner{
    padding: 15px 30px;
}

input{
    border-radius: 3px;
    padding: 0 5px;
    border: #e4e4e4 1px solid;
}

button{
    padding: 5px 10px;
    color: #ffffff;
    border: 0;
    background-color: #4CAF50;
    border-radius: 5px;
}

.saveasjson{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    color: #ffffff;
    background-color: #4CAF50;
}

.gen{
    position: fixed;
    bottom: 30px;
    right: 150px;
    padding: 10px;
    color: #ffffff;
    background-color: #4CAF50;
}